%h3 Messages History

%table.table.table-striped
  %tr
    %th.span2= 'Sent'
    %th.span1= 'Email'
    %th.span1= 'Subject'
    %th.span2= 'Content'
    %th.span2= 'Status'
    %th.span2= 'Rating'
  - @messages.each do |m|
    %tr
      %td= m.created_at
      %td= m.email
      %td= m.subject
      %td
        %a{'data-toggle' =>  "modal", 'href' => "#myModal#{m.id}", "data-backdrop" => "false"}= 'View message'
        .modal.fade{'id' => "myModal#{m.id}", "role" => "dialog"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
                  %i.material-icons= 'clear'
                %h4.modal-title= m.subject
              .modal-body
                .message-content= m.content.html_safe
              .modal-footer
                %button.btn.btn-danger.btn-simple{"data-dismiss" => "modal", "aria-hidden" => "true"}
                  Close

      %td= m.status
      %td= m.rating
