.col-xs-12
  .title
    %h3= "Sender Addresses"
  %hr/
  .list-group
    - @sender_addresses.each do |sender_address|
      .list-group-item
        .row-action-primary
          %i.material-icons= 'email'
        .row-content
          .pull-right
            = link_to sender_address_path(sender_address), :method => :delete do
              %i.material-icons.text-danger= 'clear'
          %h4.list-group-item-heading= sender_address.email
          %p.list-group-item-text= "Created at #{sender_address.created_at.strftime('%b %d, %Y')}"
      %hr/
      %br/
.col-xs-12
  = link_to "New Sender Address", new_sender_address_path
