= simple_form_for(:rating_email, url: rating_email_send_email_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :emails
    = f.input :html, input_html: {class: "codemirror"}, as: :text

  .form-actions
    = f.button :submit, class: 'btn-primary'

:javascript
  $(function() {
    return $("textarea.codemirror").each(function() {
      var disabled;
      if ($(this).data('disabled')) {
        disabled = true;
      } else {
        disabled = false;
      }
      CodeMirror.fromTextArea($(this).get(0), {
        lineNumbers: true,
        mode: "xml",
        htmlMode: true,
        theme: 'night',
        readOnly: disabled
      });
    });
  });