= simple_form_for(:rating_email, url: rating_email_send_email_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :emails, label: 'Email Address'
    = f.input :subject, label: 'Subject'
    = f.cktext_area :html, ckeditor: { language: 'us'}, id: 'ckeditor'

  .form-actions
    = f.button :submit, class: 'btn-primary'
