<div class="pricing-4" id="pricing-4">

  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <% @plans.each do |plan| %>
        <div class="col-md-4">
          <div class="card card-pricing <%= @subscription.plan == plan ? 'card-raised' : 'card-plain' %>">
            <div class="content">
              <h6 class="category"><%= plan.name %></h6>
              <h1 class="card-title"><small>$</small><%= plan.price.round %><small>/mo</small></h1>
              <ul>
                <%= BlueCloth.new(plan.features.gsub(/\n/, "\n\n")).to_html.gsub(/<(\/?)p>/, '<\1li>').html_safe %>
              </ul>
              <% if @subscription.nil? %>
                <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Sign Up', koudoku.new_subscription_path(plan: plan.id), class: "btn btn-success btn-round" %>
              <% elsif @subscription.persisted? %>
                <% if @subscription.plan == plan %>
                  <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
                    <%= f.submit 'Current Plan', class: "btn btn-round btn-white", disabled: 'disabled' %>
                  <% end %>
                <% else %>
                <%= form_for @subscription, url: owner_subscription_path(@owner, @subscription) do |f| %>
                  <%= f.hidden_field :plan_id, value: plan.id %>
                  <%= f.submit @subscription.describe_difference(plan), class: "btn btn-success btn-round" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to Koudoku.free_trial? ? 'Start Trial' : 'Upgrade', new_owner_subscription_path(@owner, plan: plan.id), class: "btn btn-success btn-round" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
