<% if @subscription.plan.present? %>
  <h3>You're Subscribed!</h3>
  <p>You're currently subscribed to the <%= @subscription.plan.name %> plan.</p>
  <%= link_to 'Choose Another Plan', edit_owner_subscription_path(@owner, @subscription), class: 'btn btn-primary' %>
<% else %>
  <h3>No Subscription</h3>
  <p>You are not subscribed to a paid plan.</p>
  <%= link_to 'Choose A Plan', edit_owner_subscription_path(@owner, @subscription), class: 'btn btn-primary' %>
<% end %>

<br><br>

<h3>Payment Information</h3>
<p>The card on file for your account ends with <%= @subscription.last_four %>.</p>
<%= link_to 'Update Payment Information', edit_owner_subscription_path(@owner, @subscription, update: 'card'), class: 'btn btn-primary' %>
