%footer.footer.footer-transparent
  .container
    %nav.pull-left
      %ul
        %li
          = link_to "http://www.greenwoodfive.com" do
            Greenwoodfive
        %li
          = link_to "http://www.greenwoodfive.com/about" do
            About Us
    .social-area.pull-right
      = link_to "https://twitter.com/greewoodfile", class: "btn btn-social btn-twitter btn-simple" do
        %i.fa.fa-twitter
      = link_to "https://www.facebook.com/greewoodfile", class: "btn btn-social btn-facebook btn-simple" do
        %i.fa.fa-facebook
      = link_to "https://plus.google.com/+greewoodfile", class: "btn btn-social btn-google btn-simple" do
        %i.fa.fa-google
    .copyright
      © 2017 Greenwoodfive
