%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to image_tag("logo.png"), main_app.root_path, class: 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav.pull-right
      - if user_signed_in?
        - if current_user.subscribed? or current_user.is_admin?
          %li=link_to "Dashboard", main_app.rating_email_index_path
          %li=link_to "Templates", main_app.templates_path
          %li=link_to "Messages History", main_app.messages_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            -#= render 'users/avatar', size: :tiny
            %b.caret
            = current_user.email
          %ul.dropdown-menu
            - if current_user.is_admin?
              %li= link_to I18n.t('admin.link'), main_app.rails_admin_path, data: {"no-turbolink" => true}
            %li= link_to I18n.t('account.edit.link'), main_app.edit_user_registration_path
            %li=link_to I18n.t('account.subscription.link'), koudoku.owner_subscriptions_path(current_user)
            %li=link_to I18n.t('account.sender_address.link'), main_app.sender_addresses_path
            %li= link_to I18n.t('auth.logout.link'), main_app.destroy_user_session_path, :method => :delete
      - unless user_signed_in?
        %li= link_to I18n.t('auth.signup.link'), main_app.new_user_registration_path
        %li= link_to I18n.t('auth.login.link'), main_app.new_user_session_path
