-# Ink v1.0.5 - Copyright 2013 ZURB Inc
-# http://zurb.com/ink/downloads/templates/hero.html
!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
    :css
      #{Rails.application.assets.find_asset('emails/include').to_s.html_safe}
  %body
    %table.body
      %tr
        %td.center{align: "center", valign: "top"}
          %center
            %table.row.header
              %tr
                %td.center{align: "center"}
                  %center
                    %table.container
                      %tr
                        %td.wrapper.last
                          %table.twelve.columns
                            %tr
                              %td.six.sub-columns.last{align: "right", style: "text-align:right; vertical-align:middle;"}
                                %span.template-label= I18n.t 'brand.name'
                              %td.expander
            %table.container
              %tr
                %td
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td
                              = yield
                            %td.expander
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td{:style => "padding: 0;vertical-align: top"}
                              .bottom-padding{:style => "margin-bottom: 0px; line-height: 30px; font-size: 30px;"}  
                          %tr
                            %td{:style => "padding: 0;vertical-align: top; width: 100%;"}
                              %center
                                %table.main-content{:style => "width: 100%; max-width: 600px; border-collapse: separate;border-spacing: 0;margin-left: auto;margin-right: auto; border: 1px solid #EAEAEA; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: #ffffff; overflow: hidden;", :width => "600"}
                                  %tbody
                                    %tr
                                      %td{:style => "padding: 0;vertical-align: top;"}
                                        %table.main-content{:style => "border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 100%; max-width: 600px;"}
                                          %tbody
                                            %tr
                                              %td{:style => "padding: 0;vertical-align: top;text-align: left"}
                                                %table.contents{:style => "border-collapse: collapse;border-spacing: 0;width: 100%;"}
                                                  %tbody
                                                    %tr
                                                      %td.content-padding{:style => "padding: 0;vertical-align: top"}
                                                        %div{:style => "margin-bottom: 0px; line-height: 30px; font-size: 30px;"}  
                                                        .body-copy{:style => "margin: 0;"}
                                                          %div{:style => "margin: 0;color: #60666d;font-size: 50px;font-family: sans-serif;line-height: 20px; text-align: left;"}
                                                            .bottom-padding{:style => "margin-bottom: 0px; line-height: 15px; font-size: 15px;"}  
                                                            %div{:style => "text-align: center; margin: 0; font-size: 10px;  text-transform: uppercase; letter-spacing: .5px;"} Rating (select a star amount):
                                                            .bottom-padding{:style => "margin-bottom: 0px; line-height: 7px; font-size: 7px;"}  
                                                            %div{:style => "width: 100%; text-align: center; float: left;"}
                                                              .rating{:style => "text-align: center; margin: 0; font-size: 50px; width: 275px; margin: 0 auto; margin-top: 10px;"}
                                                                %table{:dir => "rtl", :style => "border-collapse: collapse;border-spacing: 0;width: 275px; margin: 0 auto; font-size: 50px; direction: rtl;"}
                                                                  %tbody
                                                                    %tr
                                                                      %td.star-wrapper{:lang => "x-star-wrapper", :style => "padding: 0;vertical-align: top;", :width => "55"}
                                                                        %div{:style => "display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;"}
                                                                          %a.star{:href => "#{notifications_rating_1_url}", :lang => "x-star-divbox", :style => "color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;", :tabindex => "1", :target => "_blank"}
                                                                            %div{:lang => "x-empty-star", :style => "margin: 0;display: inline-block;"} ☆
                                                                            %div{:lang => "x-full-star", :style => "margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;"} ★
                                                                          %a.star-number{:href => "#{notifications_rating_1_url}", :lang => "x-star-number", :style => "font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;", :target => "_blank"} 5
                                                                      %td.star-wrapper{:lang => "x-star-wrapper", :style => "padding: 0;vertical-align: top", :width => "55"}
                                                                        %div{:style => "display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;"}
                                                                          %a.star{:href => "#{notifications_rating_2_url}", :lang => "x-star-divbox", :style => "color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;", :tabindex => "2", :target => "_blank"}
                                                                            %div{:lang => "x-empty-star", :style => "margin: 0;display: inline-block;"} ☆
                                                                            %div{:lang => "x-full-star", :style => "margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;"} ★
                                                                          %a.star-number{:href => "#{notifications_rating_2_url}", :lang => "x-star-number", :style => "font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;", :target => "_blank"} 4
                                                                      %td.star-wrapper{:lang => "x-star-wrapper", :style => "padding: 0;vertical-align: top", :width => "55"}
                                                                        %div{:style => "display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;"}
                                                                          %a.star{:href => "#{notifications_rating_3_url}", :lang => "x-star-divbox", :style => "color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;", :tabindex => "3", :target => "_blank"}
                                                                            %div{:lang => "x-empty-star", :style => "margin: 0;display: inline-block;"} ☆
                                                                            %div{:lang => "x-full-star", :style => "margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;"} ★
                                                                          %a.star-number{:href => "#{notifications_rating_3_url}", :lang => "x-star-number", :style => "font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;", :target => "_blank"} 3
                                                                      %td.star-wrapper{:lang => "x-star-wrapper", :style => "padding: 0;vertical-align: top", :width => "55"}
                                                                        %div{:style => "display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;"}
                                                                          %a.star{:href => "#{notifications_rating_4_url}", :lang => "x-star-divbox", :style => "color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;", :tabindex => "4", :target => "_blank"}
                                                                            %div{:lang => "x-empty-star", :style => "margin: 0;display: inline-block;"} ☆
                                                                            %div{:lang => "x-full-star", :style => "margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;"} ★
                                                                          %a.star-number{:href => "#{notifications_rating_4_url}", :lang => "x-star-number", :style => "font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;", :target => "_blank"} 2
                                                                      %td.star-wrapper{:lang => "x-star-wrapper", :style => "padding: 0;vertical-align: top", :width => "55"}
                                                                        %div{:style => "display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;"}
                                                                          %a.star{:href => "#{notifications_rating_5_url}", :lang => "x-star-divbox", :style => "color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;", :tabindex => "5", :target => "_blank"}
                                                                            %div{:lang => "x-empty-star", :style => "margin: 0;display: inline-block;"} ☆
                                                                            %div{:lang => "x-full-star", :style => "margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;"} ★
                                                                          %a.star-number{:href => "#{notifications_rating_5_url}", :lang => "x-star-number", :style => "font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;", :target => "_blank"} 1
                                                            %div{:style => "margin-bottom: 0px; line-height: 30px; font-size: 30px;"}  
  %img{:src => "#{email_tracking_image_url('logo', @token)}.gif", :alt => "Rating Mailer"}